*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(315deg, #7f5a83 10%, #094d7e 70%);
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
}
.info{
    text-align: center;
    font-size: 30px;
    
}
.info h1{
    margin-bottom: 10px;
}
.ball-img{
    position: relative;
    height: 250px;
}
.ball-img img{
    /* border: 8px dotted green; */
    position: absolute;
    top: 30px;
    left: 300px;
    /* height: 100%; */
    width: 300px;
    cursor:  pointer;
}
.question-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question-area h2{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.question-area input{
    width: 80%;
    padding: 20px 80px;
    border: 5px solid #7f5a83;
    border-radius: 8px;   
}
.question-area .answer{
    color: fuchsia;
    font-size: 30px;

}
.question-area .answer span{
    font-weight: bold;
    font-size: 40px;
    color: rgb(35, 178, 235);
}
.question-area .error{
    color: crimson;
    font-size: 30px;
}
.shake-animation{
    animation: shake 1s 1;
}
@keyframes shake{
    0% {left: 280px}
    20% {left: 340px}
    40% {left:280px}
    60% {left: 340px}
    80% {left: 280px}
    100% {left: 300px}
}